<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <!-- {%- include header.html -%} -->


    <main class="page-content" aria-label="Content">

    <div class="main-header">
      <img src="Headers/Header.png" style="width:1024px; aspect:auto; padding:0px; margin;0px">
    </div>

    <div style="position:absolute; top:-80px;left:calc(50% - 1024px/2 - 64px)">
    <img src="SyphonIconLarge.png" width="386" height="386">
    </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>